<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/99931e1b2f.js" crossorigin="anonymous"></script>
    <title>PokeDev</title>
</head>
<body>
    <div class="container">
        <div style="padding: 2em;">
            <div class="row">
                <div class="col">
                    <label for="">Listado de Pokemon</label><br>
                    <input type="text" name="" (keyup)="search($event)" placeholder="Buscar">
                </div>
                <div class="col">
                    <br>
                    <button class="button" (click)="viewFormPokemon()">+ Nuevo</button>
                </div>
            </div>
        </div>
        <div>
            <table class="poketb">
                <thead>
                  <tr>
                    <th>NOMBRE</th>
                    <th>IMAGEN</th>
                    <th>ATAQUE</th>
                    <th>DEFENSA</th>
                    <th>ACCIONES</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let poke of pokemons">
                    <td>{{poke.name}}</td>
                    <td style="text-align: center;"><img src="{{poke.image}}" alt="" width="50px" ></td>
                    <td>{{poke.attack}}</td>
                    <td>{{poke.defense}}</td>
                    <td>
                      <button class="btn_edit" (click)="loadPokemon(poke)">Editar</button>
                      <button class="btn_delete" (click)="deletePokemon(poke.id)">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>

        <div style="padding: 2em;"  *ngIf="viewForm">
            <form >
                <div class="form-row" style="padding: 1em;">
                  <div class="col">
                    <input type="text" placeholder="Nombre" required name="name" #nameInput="ngModel" [(ngModel)] = "newPokemon.name">
                  </div>
                  <div class="col">
                    <label for="">Ataque</label>
                    <input type="range" min="0" max="100" name="attack" #atkInput="ngModel" [(ngModel)] = "newPokemon.attack" >
                  </div>
                </div>
                <div class="form-row" style="padding: 1em;">
                    <div class="col">
                      <input type="text" placeholder="Imagen" required name="image" #imgInput="ngModel" [(ngModel)] = "newPokemon.image">
                    </div>
                    <div class="col">
                      <label for="">Defensa</label>
                      <input type="range" min="0" max="100" name="defense" #defInput="ngModel" [(ngModel)] = "newPokemon.defense">
                    </div>
                  </div>
                  <div>
                    <button class="button" *ngIf="mode === 0" (click)="addPokemon()">Guardar</button>
                    <button class="button" *ngIf="mode === 1" (click)="updatePokemon()">Editar</button>
                    <button class="button" >Cancelar</button>
                  </div>
              </form>
        </div>
    </div>
</body>
</html>